# yamllint disable-file
name: goreleaser

on:
  push:
    tags:
      - "*"

permissions:
  contents: write
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: "~> v2"
          distribution: goreleaser
          args: release --clean

      - name: Upload builds
        uses: actions/upload-artifact@v6
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: Bedmikun nightly
          path: dist/*
